{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>About Page!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, perferendis! Ipsum eveniet cumque harum dolorum voluptatum perspiciatis, qui vel natus nesciunt obcaecati voluptatibus hic quia provident accusantium optio iusto laborum.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/girlFlower.jpg" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer}}